<div class="detail-container">

  <button class="back-btn" (click)="goBack()">←</button>

  <h2 class="title">Mi colección</h2>

  @if (selectedBox) {

  <div class="info-box">

    <div class="image-container">
      <img [src]="selectedBox.imageUrl" [alt]="selectedBox.type" />
    </div>

    <h3 class="item-name">{{ selectedBox.type }}</h3>

    <p class="item-description">
      {{ selectedBox.descripcion }}
    </p>

    <div class="stats-grid">

      <div class="stat-card">
        <span class="stat-value">{{ selectedBox.total }}</span>
        <span class="stat-label">Totales</span>
      </div>

      <div class="stat-card">
        <span class="stat-value">{{ selectedBox.repeated }}</span>
        <span class="stat-label">Repetidos</span>
      </div>

    </div>

    @if (selectedBox.hasSpecial) {
    <div class="special-badge">
      ⭐ Especial
    </div>
    }

  </div>

  } @else {

  <p class="empty" style="font-size: 150%">No se encontró el coleccionable.</p>

  }

</div>