<div class="shop-container">

  <div class="awning"></div>

  <button class="back-btn" (click)="goBack()">←</button>

  <h1 class="title">Tienda</h1>

  <div class="tokens" [class.disabled]="tokens <= 0">
    🪙 {{ tokens }}
  </div>

  <div class="timer-box">
    <p>Próximo cambio en:</p>
    <h2>{{ countdown }}</h2>
  </div>

  <div class="mascot">
    <app-chatbot-avatar></app-chatbot-avatar>
  </div>

  <div class="separator"></div>
  <div class="boxes-container">

    <div 
      class="box" 
      *ngFor="let box of boxes" 
      (click)="openBox(box)"
      [class.disabled]="tokens <= 0"
    >

      <div 
        class="box-image"
        [ngStyle]="{ 'background-image': 'url(' + box.collectionUrl + ')' }"
      ></div>

      <p>{{ box.collection }}</p>

    </div>

  </div>

  @if (showModal) {
    <app-modal
      [message]="modalMessage"
      (closed)="showModal = false"
    />
  }

</div>