<div class="trade-wrapper">

  <button class="back-btn" (click)="goBack()">←</button>
  <h1>Crear intercambio</h1>
  <div class="columns">

    <div class="column">
      <h3>Tu coleccionable (oferta)</h3>
      <div class="grid">
        @for (box of duplicatedBoxes; track box.id) {
          <div 
            class="card"
            (click)="selectedBox = box"
            [class.selected]="selectedBox === box"
          >
            <img [src]="box.imageUrl" />
            <p>{{ box.descripcion }}</p>
          </div>
        } 
        @empty {
          <div class="empty">
            No tienes coleccionables repetidos
          </div>
        }
      </div>
    </div>

    <div class="column">

      <h3>Coleccionable que buscas</h3>

      <div class="selects-container">

        <!-- SELECT COLECCIÓN -->
        <select [(ngModel)]="selectedCollection" (change)="onCollectionChange()">
          <option value="">Selecciona una colección</option>

          @for (collection of getCollections(); track collection) {
            <option [value]="collection">
              {{ collection }}
            </option>
          }
        </select>

        <!-- SELECT COLECCIONABLE -->
        @if (selectedCollection) {
          <select [(ngModel)]="requestedBox" class="box-select">
            <option [ngValue]="undefined">
              Selecciona un coleccionable
            </option>

            @for (box of filteredBoxesByCollection; track box.id) {
              <option [ngValue]="box">
                {{ box.type }}
              </option>
            }
          </select>
        }

      </div>

    </div>
    
  </div>

  @if (selectedBox && requestedBox) {
    <p class="preview">
      Estás proponiendo un intercambio con los coleccionables seleccionados.
    </p>
  }

  <button 
    class="trade-button"
    [disabled]="!selectedBox || !requestedBox"
    (click)="proposeTrade()"
  >
    Publicar intercambio
  </button>

</div>