<div class="stats-container">
    <div class="page-header">
        <button class="back-btn" (click)="goBack()">←</button>
        <h1 class="title">📊 Actividad del usuario</h1>
    </div>

    @if (loading) {
    <div>Cargando...</div>
    }

    @if (!loading && groupedActivities.length === 0) {
    <div>No hay actividad todavía.</div>
    }

    <div class="timeline">

        <div class="filters">

            <input type="text" placeholder="Buscar actividad..." (input)="onSearchChange($event.target.value)" />

            <div class="filter-buttons">
                <button (click)="toggleFilter('gain')">💰 Ganados</button>
                <button (click)="toggleFilter('spent')">💸 Gastados</button>
                <button (click)="toggleFilter('trade')">🔁 Intercambios</button>
                <button (click)="toggleFilter('achievement')">🏆 Logros</button>
            </div>

        </div>

        <div class="chart-card">

            <div class="stats-header">
                <h2>Estadísticas del usuario</h2>
                <p>Actividad registrada durante la última semana</p>
            </div>

            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                [dataLabels]="chartOptions.dataLabels!" [xaxis]="chartOptions.xaxis!" [title]="chartOptions.title!"
                [grid]="chartOptions.grid!" [colors]="chartOptions.colors!">
            </apx-chart>

        </div>

        @for (group of groupedActivities; track group.date) {

        <div class="day-group">

            <div class="date-header">
                {{ group.date }}
            </div>

            <div class="day-items">

                @for (e of group.items; track $index) {

                <div class="activity-item">

                    <div class="icon">
                        {{ getIcon(e.type) }}
                    </div>

                    <div class="content">
                        <div class="title">{{ e.title }}</div>

                        @if (e.title) {
                        <div class="subtitle">
                            {{ e.title }}
                        </div>
                        }

                        @if (e.amount) {
                        <div class="meta">
                            <span [class.gain]="e.type === 'gain'" [class.spent]="e.type === 'spent'">
                                {{ e.type === 'gain' ? '+' : '-' }}{{ e.amount }} monedas
                            </span>
                        </div>
                        }
                    </div>

                    <div class="time">
                        {{ e.date | date:'shortTime' }}
                    </div>

                </div><br><br>

                }

            </div>
        </div>

        }

    </div>
</div>