<div class="settings-container">

    <button class="back-btn" routerLink="/profile" (click)="goBackToProfile()">←</button>

    <h1 class="title">Ajustes</h1>

    <div class="profilePicture-preview">
        <img [src]="'images/' + selectedProfilePicture + '.png'" />
    </div>

    <button type="button" class="change-avatar-btn" (click)="openAvatarModal()">
        Cambiar avatar
    </button>

    <form (ngSubmit)="saveChanges()">

        <input type="text" [(ngModel)]="username" name="username" placeholder="Cambiar nombre de usuario" class="input"/>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Cambiar email" class="input"/>
        <input type="password" [(ngModel)]="currentPassword" name="currentPassword" placeholder="Contraseña actual" class="input"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Nueva contraseña" class="input"/>

        <button type="submit" class="save-btn">
            Aceptar Cambios
        </button>

    </form>

</div>
@if (showAvatarModal) {
    <div class="modal-backdrop">
            <div class="modal">
                <h3>Selecciona un avatar</h3>
                <div class="avatar-grid">
                    @for (profilePicture of profilePictures; track profilePicture) {
                    <img 
                        [src]="'images/' + profilePicture + '.png'"
                        (click)="selectProfilePicture(profilePicture)"
                        [class.selected]="tempProfilePicture === profilePicture"
                    />
                    }
                </div>
            </div>
        
    </div>
}