.profile-container {
  min-height: 100vh;
  background-color: #f3e6f2;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  font-size: 150%;
}

.back-btn {
  position: fixed;
  top: 110px;
  left: 25px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  color: #c96c9d;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  z-index: 20;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.08);
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.settings-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #c96c9d;
  cursor: pointer;
}

.avatar-section {
  margin-top: 60px;
}

.profilePicture-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profilePicture {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.username {
  margin-top: 15px;
  color: #8e6ba8;
}

.stats-box {
  margin: 30px auto;
  padding: 20px;
  background-color: #f8f1c8;
  border: 2px solid #f1c27d;
  border-radius: 8px;
  max-width: 350px;
  color: #8e6ba8;
  font-size: 120%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  font-weight: bold;
}

.tienda {
  background-color: #f8b6c1;
  border-color: #e77a94;
}

.coleccion {
  background-color: #c3c8f7;
  border-color: #8f9df5;
}

.logros {
  background-color: #bde5b8;
  border-color: #7ecb7e;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #9fd48f;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #8bc97a;
}