<div class="register-container">

    <div class="logo">
        <div class="logo-box"></div>
        <h1>TrinketBox</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">

        <div class="input-group">
            <input type="text" placeholder="Nombre de usuario" formControlName="name" />
            @if (registerForm.controls['name'].touched && registerForm.controls['name'].invalid) {
                <span>
                    Mínimo 3 caracteres
                </span>
            }
        </div>

        <div class="input-group">
            <input type="email" placeholder="Email" formControlName="email" />
            @if (registerForm.controls['email'].touched && registerForm.controls['email'].invalid) {
                <span>
                    Email inválido
                </span>
            }
        </div>

        <div class="input-group">
            <input type="password" placeholder="Contraseña" formControlName="password" />
            @if (registerForm.controls['password'].touched && registerForm.controls['password'].invalid) {
                <span>
                    Mínimo 6 caracteres
                </span>
            }
        </div>

        <button type="submit" [disabled]="registerForm.invalid">
            Crear cuenta
        </button>

    </form>

    <a class="login-link" (click)="navigateToHome()">
        ¿Ya tienes cuenta? Inicia sesión
    </a>

</div>