<div class="achievements-container">

  <button class="back-btn" (click)="goBack()">←</button>

  <div class="profile-section">
    <div class="avatar"></div>
    <h3>{{ username }}</h3>
  </div>

  <p class="subtitle">
    Tienes un total de {{ totalUnlocked }} logros, ¡sigue así!
  </p>

  <div class="grid">
    
    @for (achievement of achievements; track achievement.id) {
      <div 
        class="achievement"
        [class.locked]="!achievement.unlocked"
      >
        @if (!achievement.unlocked) {
          <span>🔒</span>
        }
      </div>
    }

  </div>

</div>