<div class="market-wrapper">

  <button class="back-btn" (click)="goBackHome()">←</button>
  <h1>Mercado de intercambios</h1>

  @if (trades.length === 0) {
    <div>
      No hay intercambios disponibles.
    </div>
  }

  <button (click)="createTrade()" class="create-trade">
    Crear nuevo intercambio
  </button>

  @for (trade of trades; track trade.id) {
    @if (trade.ownerId == 0){
      <app-special-trade-card [trade]="trade" (tradeEnded)="tradeEnded()"></app-special-trade-card>
    }@else {
      <app-trade-card [trade]="trade" (tradeEnded)="tradeEnded()"></app-trade-card>
    }
    
  }

</div>