<div>

    <div class="trade-card">

        <p class="user">
            Publicado por: <strong>{{ trade.ownerName }}</strong>
        </p>

        <div class="trade-row">

            <div>
                <p>Ofrece</p>
                <img class="box" [src]="trade.offeredBoxUrl" alt="ofrecido"/>
                <p>{{ trade.offeredBoxName }}</p>
            </div>

            <div class="arrow">⇄</div>

            <div>
                <p>Busca</p>
                <img class="box" [src]="trade.requestedBoxUrl" alt="buscado"/>
                <p>{{ trade.requestedBoxName }}</p>
            </div>

        </div>
    </div>

    @if (trade.ownerId !== currentUser?.id) {
        <button (click)="openAcceptModal()" class="btn ok">
            Aceptar intercambio
        </button>
    } @else {
        <button (click)="openDeleteModal()" class="btn delete">
            Eliminar intercambio
        </button>
    }

    @if (showModal) {
        <app-trade-confirm-modal
            [message]="modalMessage"
            (confirm)="onModalConfirm()"
            (cancel)="onModalCancel()"
        />
    }

</div>