<div class="trade-card-wrapper">

    @if (trade.ownerId !== currentUser?.id) {

    <div class="trade-card special">

        <p class="user">
            Intercambio especial<br>
            <span class="sub">Propuesto por la plataforma</span>
        </p>

        <div class="trade-row">

            <div class="box-column">
                <p class="label">Tu coleccionable</p>
                <img class="box" [src]="trade.requestedBoxUrl" />
                <p class="name">{{ trade.requestedBoxName }}</p>
            </div>

            <div class="arrow">⇄</div>

            <div class="box-column">
                <p class="label">Recibirás</p>
                <img class="box" [src]="trade.offeredBoxUrl" />
                <p class="name">{{ trade.offeredBoxName }}</p>
            </div>

        </div>

        @if (showAcceptButton) {
        <button class="btn accept" (click)="openAcceptModal()">
            Aceptar intercambio
        </button>
        }

    </div>

    } @else {

    <div class="trade-card special own">

        <p class="user">
            Intercambio especial<br>
            <span class="sub">Propuesto por ti como especial</span>
        </p>

        <div class="trade-row">

            <div class="box-column">
                <p class="label">Ofreces</p>
                <img class="box" [src]="trade.offeredBoxUrl" />
                <p class="name">{{ trade.offeredBoxName }}</p>
            </div>

            <div class="arrow">⇄</div>

            <div class="box-column">
                <p class="label">Buscas</p>
                <img class="box" [src]="trade.requestedBoxUrl" />
                <p class="name">{{ trade.requestedBoxName }}</p>
            </div>

        </div>

        <button class="btn delete" (click)="openDeleteModal()">
            Eliminar intercambio
        </button>

    </div>

    }

    @if (showModal) {
    <app-trade-confirm-modal [message]="modalMessage" (confirm)="onModalConfirm()" (cancel)="onModalCancel()">
    </app-trade-confirm-modal>
    }

</div>