.special-trade-card {
  background: #f0a56c;
  border: 2px solid #e88a4c;
  border-radius: 12px;
  padding: 25px;
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.your-special-trade-card {
  background: #f0a56c;
  border: 2px solid #e88a4c;
  border-radius: 12px;
  padding: 25px;
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.trade-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
  font-size: 150%;
}

.user {
  font-size: 14px;
  color: #6a4d86;
  font-size: 180%;
}

.box {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #a8b6c2;
}

.btn {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn:hover {
  background: #8bc97a;
}

.ok {
  background-color: #bde5b8;
  border-color: #7ecb7e;
}