<!--<div>

    <div class="special-trade-card">

        <p class="user"> Intercambio especial </p>

        <div class="trade-row">

            <div>
                <p>Ofrece</p>
                <img class="box" [src]="trade.offeredBoxUrl" alt="ofrecido"/>
                <p> {{ trade.offeredBoxName }} </p>
            </div>

            <div class="arrow">⇄</div>

            <div>
                <p>Busca</p>
                <img class="box" [src]="trade.requestedBoxUrl" alt="buscado"/>
                <p> {{ trade.requestedBoxName }} </p>
            </div>
        </div>
    </div>

    <button (click)="acceptTrade(trade)">
        Aceptar intercambio
    </button>

</div>-->