<div>

    <div class="special-trade-card">

        <p class="user">
            Intercambio especial<br><br>(Éste intercambio ha sido propuesto por la plataforma)
        </p>

        <div class="trade-row">

            <div>
                <p>Tu coleccionable</p>
                <img class="box" [src]="trade.requestedBoxUrl" alt="buscado" />
                <p>{{ trade.requestedBoxName }}</p>
            </div>

            <div class="arrow">⇄</div>

            <div>
                <p>Coleccionable que vas a recibir</p>
                <img class="box" [src]="trade.offeredBoxUrl" alt="ofrecido" />
                <p>{{ trade.offeredBoxName }}</p>
            </div>

        </div>
    </div>

    <button (click)="openAcceptModal()" class="btn ok">
        Aceptar intercambio
    </button>

    @if (showModal) {
    <app-trade-confirm-modal [message]="modalMessage" (confirm)="onModalConfirm()" (cancel)="onModalCancel()" />
    }

</div>