<div class="collection-container">

    <button class="back-btn" (click)="goHome()">←</button>

    <h2 class="title">Mi colección</h2>

    <div class="badge-counter">
        Tienes {{ boxesCount }} coleccionables
    </div>

    @if (boxes.length === 0) {
        <div class="empty-state">
            Aún no tienes coleccionables 🥺
        </div>
    }

    @if (uniqueBoxes.length > 0) {
        <div class="grid">

            @for (box of uniqueBoxes; track box.id) {
                <div 
                    class="collectible" 
                    (click)="onCollectibleClick(box)"
                >

                    <img [src]="box.imageUrl" [alt]="box.descripcion"/>

                    @if (box.hasSpecial) {
                        <div class="special-badge">⭐</div>
                    }

                </div>
            }

        </div>
    }

</div>