<div class="collection-container">

    <button class="back-btn" (click)="goBackHome()">←</button>

    <h2 class="title">Mi colección</h2>

    <div class="badge-counter">
        Tienes {{ boxes.length }} coleccionables
    </div>

    <div *ngIf="boxes.length === 0" class="empty-state">
        Aún no tienes coleccionables 🥺
    </div>

    <div *ngIf="uniqueBoxes.length > 0" class="grid">

        <div 
            class="collectible" 
            *ngFor="let box of uniqueBoxes"
            (click)="onCollectibleClick(box)"
        >

            <img [src]="box.imageUrl" [alt]="box.descripcion"/>

            <div *ngIf="box.hasSpecial" class="special-badge">⭐</div>

        </div>

    </div>

</div>
