html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: oblique bold;
}

@font-face {
  font-family: 'Stars-Regular';
  src: url('/fonts/Stars-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
